/*Media query: tablet and larger*/
@media screen and (min-width: 768px) {
  /*header*/
  #heading-image {
    width: 4rem;
    height: 4rem;
  }
  h1 {
    font-size: 300%;
  }
  .question {
    font-size: 2.3rem;
    margin-top: -1.5rem;
  }

  /*main*/
  main {
    display: flex;
    margin: 5%;
  }

  /*overlay*/
  #overlay {
    left: 0;
  }
  .overlay-text {
    font-size: 1.5rem;
  }

  /*sound toggle*/
  .sound {
    display: inline-block;
    position: absolute;
    z-index: 1;
    margin-top: -2rem;
  }

  /*hangman image and keydown letter*/
  #hangman-image-letter {
    width: 40%;
  }
  .hangman-image {
    margin: 2%;
  }
  .keydown-letter {
    font-size: 5rem;
    margin: -1rem;
  }

  /*score, triesLeft and guessed word*/
  #scoring-tries-characters-keyboard {
    width: 60%;
  }
  #score {
    display: inline-block;
    font-size: 1.2rem;
  }
  .guessed-word {
    font-size: 2rem;
    justify-content: space-between;
  }
  .spacing {
    margin: 0 0.1rem;
  }

  /*keyboard*/
  .keyboard-layout {
    margin-top: 3rem;
  }
  .keyboard-buttons,
  .keyboard-buttons-clicked {
    width: 2.2rem;
    height: 2.2rem;
  }
}

/*Media query: laptop and larger*/
@media screen and (min-width: 1024px) {
  /*header*/
  #heading-image {
    width: 6rem;
    height: 6rem;
  }
  h1 {
    font-size: 500%;
  }

  /*main*/
  /*hangman image and keydown letter*/
  .hangman-image > img {
    width: 25rem;
  }
  .keydown-letter {
    font-size: 7rem;
  }

  /*score, triesLeft and guessed word*/
  #score {
    font-size: 1.5rem;
    margin: 1.5rem;
  }
  #hangman-image-letter {
    width: 30%;
  }
  .hangman-image > img {
    width: 15rem;
  }
  #scoring-tries-characters-keyboard {
    width: 70%;
  }

  /*keyboard*/
  .keyboard-buttons,
  .keyboard-buttons-clicked {
    width: 3rem;
    height: 3rem;
  }
}

/*Media query: 4k monitors*/
@media screen and (min-width: 2560px) {
  /*header*/
  #heading-image {
    width: 10rem;
    height: 10rem;
  }
  h1 {
    font-size: 1000%;
  }
  .question {
    font-size: 6rem;
    margin-top: -2rem;
    margin-right: 3rem;
  }

  /*main*/
  .overlay-text {
    font-size: 5rem;
  }

  /*sound toggle*/
  .sound {
    font-size: 3rem;
    width: 20rem;
    height: 6rem;
    margin-top: -8rem;
    border-radius: 20px;
  }

  /*hangman image and keydown letter*/
  .hangman-image > img {
    width: 40rem;
  }
  .keydown-letter {
    font-size: 15rem;
  }

  /*score, triesLeft and guessed word*/
  #score {
    font-size: 4rem;
  }
  .guessed-word {
    font-size: 5rem;
  }
  .keyboard-buttons,
  .keyboard-buttons-clicked {
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
  }

  /*footer*/
  footer ul {
    padding: 2rem;
  }
  footer a {
    font-size: 10rem;
  }
}
