/*Media query: tablet and larger*/
@media screen and (min-width: 768px) {
  /*header*/
  #heading-image {
    width: 3rem;
    height: 3rem;
  }
  h1 {
    font-size: 300%;
  }

  /*main*/
  main {
    display: flex;
    margin: 8%;
  }
  /*hangman image and keydown letter*/
  #hangman-image-letter {
    width: 50%;
  }
  .hangman-image > img {
    width: 15rem;
  }
  .keydown-letter {
    font-size: 5rem;
    margin: -1rem;
  }

  /*#hangman-image > img {*/
  /*  width: 80%;*/
  /*}*/
  /*#letters-spaces {*/
  /*  font-size: 3rem;*/
  /*}*/
  /*#letter {*/
  /*  font-size: 6rem;*/
  /*  padding: 1rem;*/
  /*}*/
  /*#scoring-attempts > h2 {*/
  /*  font-size: 2rem;*/
  /*  padding: 2rem;*/
  /*}*/
  /*.keyboard-layout {*/
  /*  margin-top: 5rem;*/
  /*}*/
  /*.keyboard-buttons,*/
  /*.keyboard-buttons-clicked {*/
  /*  width: 3rem;*/
  /*  height: 3rem;*/
  /*}*/
}

/*Media query: laptop and larger*/
@media screen and (min-width: 1024px) {
  /*header*/
  #heading-image {
    width: 5rem;
    height: 5rem;
  }
  h1 {
    font-size: 500%;
  }

  /*main*/
  /*hangman image and keydown letter*/
  .hangman-image > img {
    width: 25rem;
  }
  .keydown-letter {
    font-size: 7rem;
  }

  /*#hangman-image > img {*/
  /*  width: 90%;*/
  /*}*/
  /*#scoring-attempts > h2 {*/
  /*  font-size: 3rem;*/
  /*  padding: 4rem;*/
  /*}*/
  /*.keyboard-buttons,*/
  /*.keyboard-buttons-clicked {*/
  /*  width: 5rem;*/
  /*  height: 5rem;*/
  /*}*/
}

/*Media query: 4k monitors*/
@media screen and (min-width: 2560px) {
  /*header*/
  #heading-image {
    width: 10rem;
    height: 10rem;
  }
  h1 {
    font-size: 1000%;
  }

  /*main*/
  /*hangman image and keydown letter*/
  .hangman-image > img {
    width: 50rem;
  }
  .keydown-letter {
    font-size: 15rem;
  }

  /*#hangman-image {*/
  /*  width: 50vw;*/
  /*}*/
  /*#letters-spaces {*/
  /*  font-size: 5rem;*/
  /*}*/
  /*#letter {*/
  /*  font-size: 10rem;*/
  /*}*/
  /*#scoring-attempts > h2 {*/
  /*  font-size: 500%;*/
  /*}*/
  /*.keyboard-buttons,*/
  /*.keyboard-buttons-clicked {*/
  /*  font-size: 5rem;*/
  /*  width: 8rem;*/
  /*  height: 8rem;*/
  /*}*/
}
