/*Media queries: Table and larger devices*/
@media screen and (min-width: 768px) {
  /*heading*/
  #heading-image {
    width: 5rem;
    height: 5rem;
  }
  h1 {
    font-size: 5rem;
  }

  /*main*/
  #hanging {
    width: 20rem;
    margin: 1rem;
    padding: 5rem;
  }
}

/*Media queries: Laptop and larger*/
@media screen and (min-width: 1024px) {
  /*main*/
  #hanging {
    width: 25rem;
  }
}

/*Media queries: 4k monitors*/
@media screen and (min-width: 2560px) {
  /*heading*/
  #heading-image {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
  }
  h1 {
    font-size: 10rem;
  }
  /*main */
  #hanging {
    width: 50rem;
    padding: 20rem;
  }
}
