/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

/*general*/
* {
  margin: 0;
  padding: 0;
}

/*heading*/
header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#heading-image {
  width: 2rem;
  height: 2rem;
  margin: auto 0.5rem;
  border-radius: 5px;
}
h1 {
  font-family: "Croissant One", cursive;
  color: #33976f;
  -webkit-text-stroke: 2px #008e93;
}

/*main*/
#hangman-image {
  display: flex;
  justify-content: center;
}
#hanging {
  width: 70vw;
  height: auto;
  padding: 1rem;
  margin: auto;
}
#letter {
  margin: -16rem 0.5rem 0;
  z-index: 5;
  font-size: 3rem;
}
.letter-correct {
  color: green;
  -webkit-text-stroke: 1px #052b0f;
}
.letter-incorrect {
  color: red;
  -webkit-text-stroke: 1px #611c17;
}
