/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

/*heading*/
#heading-image {
  width: 2rem;
  height: 2rem;
}
h1 {
  font-family: "Croissant One", cursive;
  text-align: center;
  color: #33976f;
  -webkit-text-stroke: 2px #008e93;
}
