/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

/*general*/
* {
  margin: 0;
  padding: 0;
}

/*heading*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#heading-image {
  width: 2rem;
  height: 2rem;
  margin: auto 0.5rem;
  border-radius: 5px;
}
h1 {
  font-family: "Croissant One", cursive;
  color: #33976f;
  -webkit-text-stroke: 2px #008e93;
}
.keyboard-icon {
  display: flex;
  width: 100vw;
}
.keyboard {
  position: fixed;
  border-radius: 50%;
  padding: 2% 5%;
  background-color: transparent;
  border-style: none;
  float: right;
}

/*main*/
#scoring-and-images {
  display: flex;
  width: 100%;
}
#hangman-image {
  display: flex;
  justify-content: center;
}
#hangman-image > img {
  width: 50%;
}
#letter {
  position: absolute;
  font-size: 200%;
}
#scoring-attempts {
  width: 100%;
}
#scoring-attempts > h2 {
  font-size: 100%;
}
#letters {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
